.main-container {
    height: 600px;;
    width: 50%;
    background-color: white;
    
}
.head1 {
    background-color: rgb(17, 17, 17);
    padding: 10px;
    height: 40px;
    font-size: 30px;
   text-align: center;
   margin-top: 5%;
   color:white; ;
   border-radius: 5px;
}

.display {
    background-color: rgb(190, 186, 186);
    padding: 20px;
    height: 60px;
    font-size: 30px;
   text-align: right;
   margin-top: 2%;
   border: 2px solid rgb(10, 10, 10);
   border-radius: 5px;
   padding: 5px;
   
}
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #ecf0f3;
    padding: 10px;
    margin-top: 2%;
    /* border: 2px solid rgb(10, 10, 10); */
    border-radius: 5px;
  }
  .sign {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .number {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .point {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-template-columns: 40%;
  }